{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ KEYWORDS_DES.HOTPAGEKEYWORD }}" name="keywords">
    <meta content="{{ KEYWORDS_DES.HOTPAGEDESCRIPTION }}" name="description">
    <title>{{ PAGETOP.Title }}</title>
    <link rel="icon" sizes="32x32" href="{{ PAGETOP.Image.url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@100;600;800&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'assets/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

<!-- Top Navbar -->
<div class="container-fluid sticky-top px-0">
    <div class="container-fluid topbar bg-dark d-none d-lg-block">
        <div class="container px-0">
            <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
                <div class="top-info flex-grow-0">
                    <i id="current-date" class="fas fa-calendar-alt text-white border-end border-secondary pe-2 me-2"> <span class="text-body">Tuesday, Sep 12, 2024</span></i> 
                </div>                    
                <div class="top-link flex-lg-wrap">
                    <div class="d-flex icon">
                        <p class="mb-0 text-white me-2">{{ WEBSITE_TAGS.Follow_us_top }}</p>
                        <a href="{{ WEBSITE_TAGS.Twitter_link }}" class="me-2"><i class="fab fa-twitter text-body link-hover"></i></a>
                        <a href="{{ WEBSITE_TAGS.Instagram_link }}" class="me-2"><i class="fab fa-instagram text-body link-hover"></i></a>
                        <a href="{{ WEBSITE_TAGS.Youtube_link }}" class="me-2"><i class="fab fa-youtube text-body link-hover"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Top Navbar -->

<div class="container-fluid bg-light">
    <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl">
            <a href="{{ NAV_LINKS.Link_href }}" class="navbar-brand mt-3">
                <p class="text display-6 mb-2" style="line-height: 0;">{{ NAVBAR.Title }}</p>
                <small class="text-body fw-normal" style="letter-spacing: 12px;">{{ NAVBAR.Tag_line }}</small>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    {% for NAV_LINKS in NAV_LINKS %}
                    <a href="{{ NAV_LINKS.Link_href }}" class="nav-item nav-link active">{{ NAV_LINKS.Nav_links }}</a>
                    {% endfor %}
                </div>
                <div class="d-flex flex-nowrap pt-3 pt-xl-0">
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <strong class="fs-4 text-secondary">UBUTIMES</strong>
                            <div class="d-flex flex-column ms-2" style="width: 150px;">
                                <span class="text-body">INDIA,</span>
                                <small><i id="current-date" class="fas fa-calendar-alt text-white border-end border-secondary pe-2 me-2"> <span class="text-body"></span></i> </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<div class="container-fluid features mb-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-12">
                <div class="position-relative mt-4">
                    <!-- Adjust the src attribute to your ad image -->
                    <a href="#"><img src="{{ HORIZONTABANNER.last.Image.url }}" class="img-fluid w-100 rounded" style="max-height: 200px;" alt="Horizontal Banner Ad"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Post Section Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                <div class="bg-light p-4 rounded">
                <div class="news-2">
                    <h3 class="mb-4">{{ WEBSITE_TAGS.Hot_Picks }}</h3>
                </div>
                {% for ALLHOTPICKS in ALLHOTPICKS reversed %}
                <div class="row g-4 align-items-center py-2">
                    <div class="col-md-6">
                        <div class="rounded overflow-hidden">
                            <img src="{{ ALLHOTPICKS.Image.url }}" class="img-fluid rounded img-zoomin w-100" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column">
                            <a href="detail/{{ ALLHOTPICKS.Title }}/" class="h3">{{ ALLHOTPICKS.Title }}</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> {{ ALLHOTPICKS.Time }}</small>
                            <a href="#" class="small text-body link-hover">{{ ALLHOTPICKS.Source }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="rounded p-4 pt-0">
                <div class="row g-4">
                    {% for STOREADS in STOREADS reversed %}
                    <div class="col-lg-12 py-2">
                        <div class="position-relative banner-2">
                            <img src="{{ STOREADS.Image.url }}" class="img-fluid w-100 rounded" alt="">
                            <div class="text-center">
                                <h6 class="mb-2">{{ STOREADS.Title }}</h6>
                                <a href="{{ STOREADS.Link }}" class="btn btn-primary text-white px-4">{{ STOREADS.Button }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Main Post Section End -->

<!-- Banner Start -->
<div class="container-fluid py-5 my-5" style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-7">
                <h1 class="mb-4 text-primary">{{ SUBSCRIBENEWS.Title }}</h1>
                <h1 class="mb-4">{{ SUBSCRIBENEWS.SUBTITLE }}</h1>
                <p class="text-dark mb-4 pb-2">{{ SUBSCRIBENEWS.Text }}
                </p>
                <div class="position-relative mx-auto">
                    <input class="form-control w-100 py-3 rounded-pill" type="email" placeholder="{{ WEBSITE_TAGS.Email_bar_inside }}">
                    <button type="submit" class="btn btn-primary py-6 px-5 position-absolute rounded-pill text-white h-100" style="top: 0; right: 0;">{{ SUBSCRIBENEWS.Button }}</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="rounded">
                    <img src="{{ SUBSCRIBENEWS.Image.url }}" class="img-fluid rounded w-100 rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest News Start -->
<div class="container-fluid latest-news py-5">
    <div class="container py-5">
        <h2 class="mb-4">{{ WEBSITE_TAGS.Latest_news }}</h2>
        <div class="latest-news-carousel owl-carousel">
            {% for ALLNEWSTODAY in ALLNEWSTODAY %}
            <div class="latest-news-item">
                <div class="bg-light rounded">
                    <div class="rounded-top overflow-hidden">
                        <img src="{{ ALLNEWSTODAY.Image.url }}" class="img-zoomin img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="d-flex flex-column p-4">
                        <a href="/Latest-News" class="h4">{{ ALLNEWSTODAY.Title }}</a>
                        <div class="d-flex justify-content-between">
                            <a href="{{ ALLNEWSTODAY.Source_link }}" class="small text-body link-hover">{{ ALLNEWSTODAY.Source }}</a>
                            <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>{{ ALLNEWSTODAY.Time }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Latest News End -->

<!-- Most Populer News Start -->
<div class="container-fluid populer-news py-5">
    <div class="container py-5">
        <div class="tab-class mb-4">
            <div class="row g-4">
                <div class="col-lg-8 col-xl-9">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
                        <h1 class="mb-4">{{ WEBSITE_TAGS.Other }}</h1>
                    </div>
                    <div class="tab-content mb-4">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-8">
                                    <div class="position-relative rounded overflow-hidden">
                                        <img src="{{ OTHERNEWS.Image.url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                                        <div class="position-absolute text-white px-4 py-2 bg-primary rounded" style="top: 20px; right: 20px;">                                              
                                            {{ OTHERNEWS.Title }}
                                        </div>
                                    </div>
                                    <div class="my-4">
                                        <a href="/Sports-and-entertainment" class="h4">{{ OTHERNEWS.Text }}</a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ OTHERNEWS.Source_link }}" class="small text-body link-hover">{{ OTHERNEWS.Source }}</a>
                                    </div>
                                    <p class="my-4">{{ OTHERNEWS.Describe }}</p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row g-4">
                                        {% for ALLOTHERNEWS in ALLOTHERNEWS reversed %}
                                        {% if forloop.counter <= 5 %}
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center">
                                                <div class="col-5">
                                                    <div class="overflow-hidden rounded">
                                                        <img src="{{ ALLOTHERNEWS.Image.url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">{{ ALLOTHERNEWS.Title }}</p>
                                                        <a href="/Sports-and-entertainment" class="h6">{{ ALLOTHERNEWS.Text }}</a>
                                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>{{ ALLOTHERNEWS.Time }}</small>
                                                        <a href="{{ ALLOTHERNEWS.Source_link }}" class="small text-body link-hover">{{ ALLOTHERNEWS.Source }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-bottom mb-4">
                        <h2 class="my-4">{{ WEBSITE_TAGS.Ecoandworld }}</h2>
                    </div>
                    <div class="d-flex flex-wrap">
                        {% for ECOANDWORLD in ECOANDWORLD reversed %}
                        {% if forloop.counter <= 2 %}
                        <div class="latest-news-item p-2 w-50">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="{{ ECOANDWORLD.Image.url }}" class="img-zoomin img-fluid rounded-top w-100" alt="">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="/Economics-and-travel" class="h4">{{ ECOANDWORLD.Title }}</a>
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ ECOANDWORLD.Source_link }}" class="small text-body link-hover">{{ ECOANDWORLD.Source }}</a>
                                        <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i>{{ ECOANDWORLD.Time }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="mt-5 lifestyle">
                        <div class="border-bottom mb-4">
                            <h1 class="mb-4">{{ WEBSITE_TAGS.LIFESTYLE }}</h1>
                        </div>
                        <div class="row g-4">

                            {% for LIFESTYLE in LIFESTYLE reversed %}
                            {% if forloop.counter <= 2 %}
                            <div class="col-lg-6">
                                <div class="lifestyle-item rounded">
                                    <img src="{{ LIFESTYLE.Image.url }}" class="img-fluid w-100 rounded" alt="">
                                    <div class="lifestyle-content">
                                       <div class="mt-auto">
                                            <a href="/LifeStyle" class="h4 text-white link-hover">{{ LIFESTYLE.Title }}</a>
                                            <div class="d-flex justify-content-between mt-4">
                                                <a href="{{ LIFESTYLE.Source_link }}" class="small text-white link-hover">{{ LIFESTYLE.Source }}</a>
                                                <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i>{{ LIFESTYLE.Time }}</small>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="p-3 rounded border">
                                <h4 class="mb-4">{{ WEBSITE_TAGS.Stay_connected }}</h4>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <a href="{{ WEBSITE_TAGS.Twitter_link }}" class="w-100 rounded btn btn-danger d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-twitter btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">21,798 Follower</span>
                                        </a>
                                        <a href="{{ WEBSITE_TAGS.Youtube_link }}" class="w-100 rounded btn btn-warning d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-youtube btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">7,999 Subscriber</span>
                                        </a>
                                        <a href="{{ WEBSITE_TAGS.Instagram_link }}" class="w-100 rounded btn btn-dark d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-instagram btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">19,764 Follower</span>
                                        </a>
                                    </div>
                                </div>

                                {% for STOREADS in STOREADS reversed %}
                                <div class="col-lg-12 py-2">
                                    <div class="position-relative banner-2">
                                        <img src="{{ STOREADS.Image.url }}" class="img-fluid w-100 rounded" alt="">
                                        <div class="text-center">
                                            <h6 class="mb-2">{{ STOREADS.Title }}</h6>
                                            <a href="{{ STOREADS.Link }}" class="btn btn-primary text-white px-4">{{ STOREADS.Button }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="container-fluid bg-black footer py-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(255, 255, 255);">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#" class="d-flex flex-column flex-wrap">
                        <p class="text-white mb-0 display-6">{{ SUBSCRIBENEWS.Title }}</p>
                        <small class="text-light" style="letter-spacing: 11px; line-height: 0;">{{ SUBSCRIBENEWS.Subtitle }}</small>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="position-relative mx-auto">
                        <input class="form-control w-100 py-3 rounded-pill" type="email" placeholder="{{ WEBSITE_TAGS.Email_bar_inside }}">
                        <button type="submit" class="btn btn-primary py-6 px-5 position-absolute rounded-pill text-white h-100" style="top: 0; right: 0;">{{ SUBSCRIBENEWS.Button }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-1">
                    <h4 class="mb-4 text-white">{{ WEBSITE_TAGS.Address_head }}</h4>
                    <p class="text-secondary line-h">{{ WEBSITE_TAGS.Address_location_head }}: <span class="text-white">{{ WEBSITE_TAGS.Address_location }}</span></p>
                    <p class="text-secondary line-h">{{ WEBSITE_TAGS.Address_email_head }}: <span class="text-white">{{ WEBSITE_TAGS.Address_email }}</span></p>
                    <p class="text-secondary line-h">{{ WEBSITE_TAGS.Address_Phone_head }}: <span class="text-white">{{ WEBSITE_TAGS.Address_Phone }}</span></p>
                    <div class="d-flex line-h">
                        <a class="btn btn-light me-2 btn-md-square rounded-circle" href="{{ WEBSITE_TAGS.Twitter_link }}"><i class="fab fa-twitter text-dark"></i></a>
                        <a class="btn btn-light me-2 btn-md-square rounded-circle" href="{{ WEBSITE_TAGS.Youtube_link }}"><i class="fab fa-youtube text-dark"></i></a>
                        <a class="btn btn-light btn-md-square rounded-circle" href="{{ WEBSITE_TAGS.Instagram_link }}"><i class="fab fa-instagram text-dark"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-2">
                    <div class="d-flex flex-column mb-4">
                        <h4 class="mb-4 text-white">{{ WEBSITE_TAGS.Recent_head }}</h4>
                        {% for ALLNEWSTODAY in ALLNEWSTODAY reversed %}
                        {% if forloop.counter <= 2 %}
                        <a href="#">
                            <div class="d-flex align-items-center">
                                <div class="border-primary overflow-hidden">
                                    <img src="{{ ALLNEWSTODAY.Image.url }}" class="img-zoomin img-fluid w-100" alt="">
                                </div>
                                <div class="d-flex flex-column ps-4">
                                    <p class="text-uppercase text-white mb-3">{{ ALLNEWSTODAY.Title|slice:":10"  }}...</p>
                                    <a href="/Latest-News/detail/{{ ALLNEWSTODAY.Title }}/" class="h6 text-white">
                                        {{ ALLNEWSTODAY.Text|slice:":25"  }}...
                                    </a>
                                    <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="d-flex flex-column text-start footer-item-3">
                    <h4 class="mb-4 text-white">{{ WEBSITE_TAGS.Categories_head }}</h4>
                    {% for BOTTOMNAV in BOTTOMNAV %}
                    <a class="btn-link text-white" href="{{ BOTTOMNAV.Link }}"><i class="fas fa-angle-right text-white me-2"></i>{{ BOTTOMNAV.Title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-4">
                    <h4 class="mb-4 text-white">{{ WEBSITE_TAGS.Ourgallery_head }}</h4>
                    <div class="row g-2">
                        {% for OURORIGINAL in OURORIGINAL %}
                        {% if forloop.counter <= 9 %}
                        <div class="col-4">
                            <div class="rounded overflow-hidden">
                                <img src="{{ OURORIGINAL.Image.url }}" class="img-zoomin img-fluid rounded w-100" alt="">
                            </div>
                       </div>
                       {% endif %}
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="{{ WEBSITE_TAGS.Site_name_link }}"><i class="fas fa-copyright text-light me-2"></i>{{ WEBSITE_TAGS.Site_name }}</a>, {{ WEBSITE_TAGS.Site_after_name }}</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">
                {{ WEBSITE_TAGS.Disclaimer_head }} <a class="border-bottom" href="{{ WEBSITE_TAGS.Disclaimer_link }}"></a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary border-2 border-white rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<script>
    // Function to update the current date
    function updateCurrentDate() {
        var currentDate = new Date();
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var formattedDate = currentDate.toLocaleDateString('en-US', options);

        document.getElementById('current-date').innerHTML = '<span class="text-body">' + formattedDate + '</span>';
    }

    // Call the function when the page is loaded
    window.addEventListener('load', updateCurrentDate);
</script>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'assets/js/main.js' %}"></script>
         
<!-- Include the Bootstrap JavaScript files -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>